<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Webtaskrunner</title>
    <script src="static/vue-2.1.10/vue.js"></script>
    <script src="static/vue-resource-1.0.3/vue-resource.min.js"></script>
    <link rel="stylesheet" href="static/css/app.css"/>
    <link rel="stylesheet" href="static/css/overview.css"/>
    <link rel="stylesheet" href="static/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>

<h4>webtaskrunner</h4>

<script id="taskrunner" type="text/x-template">
    <div class="taskrunner" :title="data.name">
        <img :src="data.imageUrl"/>
        <span class="label">{{data.name}}</span>
    </div>
</script>


<div id="overview">
    <ul>
        <li v-for="(taskrunner,index) in taskrunners"
            :key="index"
            v-on:click="navigateTo(taskrunner.route)">
            <taskrunner
                    :data="taskrunner"
            ></taskrunner>
        </li>
    </ul>
</div>

<script src="static/js/overview.js"></script>
</body>
</html>