<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Webtaskrunner</title>
    <script src="static/vendor/vue/vue.min.js"></script>
    <script src="static/vendor/vue-resource/vue-resource.min.js"></script>
    <script src="static/vendor/ansi_up/ansi_up.js"></script>
    <link rel="stylesheet" href="static/vendor/normalize.css/normalize.css"/>
    <link rel="stylesheet" href="static/css/app.css"/>
    <link rel="stylesheet" href="static/vendor/font-awesome/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600|PT+Mono" rel="stylesheet">
</head>
<body>

<script id="executor" type="text/x-template">
    <div class="executor">
        <span class="name" v-text="data.name"></span> - <span class="status" v-text="data.status"></span>
        <span class="error" v-if="data.error">ERROR: {{data.error}} </span>
        <div class="output" v-html="htmlCarriageReturn(ansiUp(data.combinedOutput))"></div>
    </div>
</script>

<script id="task" type="text/x-template">
    <div class="task" v-on:click="showExecutor()"
         v-bind:class="{'hasExecutor':(data.executor!=null), 'selected':((data.executor)?data.executor.isSelected:false), 'running':((data.executor)?data.executor.status=='running':false)}">
        <span class="name" v-text="data.TaskName"></span>
        <span class="controls">
            <i class="fa fa-play" aria-hidden="true" v-on:click="run()" title="start task"></i>
            <span v-if="data.executor != null" v-bind:class="data.executor.status" class="status">
                    <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
                </span>
        </span>
        <span class="integration-name" v-text="data.IntegrationName"></span>
    </div>
</script>

<h4>webtaskrunner</h4>

<div id="taskrunner">
    <h3>Build-Tools</h3>
    <div class="build-tools">
        <ul class="integrationList">
            <li v-for="(integration,index) in integrations" :key="index">
            <span class="integration-filter" v-on:click="toggleIntegrationFilter(integration)"
                  v-bind:class="(integration.selected)?'selected':''">
            {{integration.name}}
                </span>
            </li>
        </ul>
        <span class="text-filter">
        <input type="text" v-model="textFilter" placeholder="filter tasks by name"/>
    </span>
    </div>
    <div class="task-pane">
        <h4>Tasks</h4>
        <ul class="tasklist">
            <li v-for="(task,index) in filteredTasks"
                :key="index">
                <task :data="task"></task>
            </li>
        </ul>
    </div>

    <div class="output-pane">
        <h4>Execution output</h4>
        <ul>
            <li v-for="(executor,index) in executors"
                :key="index"
                v-show="focusedExecutor==executor"
            >
                <executor :data="executor"></executor>
            </li>
        </ul>
    </div>
</div>

<script src="static/js/taskrunner.js"></script>
</body>
</html>