ul.tasklist
{
  width: 75em;
  list-style-type: none;
}
ul.tasklist li
{
  float: left;
  width: 20em;  /* accommodate the widest item */
  padding-left:0.5em;

}
ul.tasklist:after{
    content: '';
    display: block;
    clear: both;
}

ul.tasklist li + li{
margin-top:0.1em;
}


/* anchor styling */
ul.tasklist li a
{
  display: block;
  width: 7em;
  text-decoration: none;
}
ul.tasklist li a:hover
{
  color: #FFF; /* white */
  background-color: #A52A2A; /* brown */
}



.done .fa-dot-circle-o{
    color:green;
}
.running .fa-dot-circle-o{
    color:orange;
}
.done-error .fa-dot-circle-o{
    color:red;
}


ul.tasklist .fa-play,
.fa-indent{
    cursor: pointer; cursor: hand;
}


ul.tasklist li{
    position:relative;
}
.tasklist .name{
width:15em;
display: inline-block;
}
.tasklist .controls{
    display: inline-block;
    position: absolute;
    right: 0;
    width:5em;
}


ul.tasklist li {
  color: #000;
  transition: background 0.5s linear;
}
ul.tasklist li:hover {
  background-color: #d1d1d1;
  color: #fff;
}


.executor .error{
    display:block;
    border:2px solid red;
}
